@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,700&display=swap');
*{
    font-family: 'DM Sans', sans-serif;
    padding: 0;
    margin: 0 auto;
    text-decoration: none;
    
}
body{
    background-image: url(retro-roxo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
header{

    background-image: linear-gradient(to right, rgba(168, 43, 226, 0.61), rgba(69, 0, 126, 0.63));
    
}
h1{
    color: white;
    font-weight: bold;
    text-align: center;
    
    
}

.menu li{
    display: inline; /*para ficar um do lado do outro*/

}
.menu li a{
    
    color: rgba(255, 255, 255, 0.781);
    padding: 10px;
    display: inline-block;
    transition: background .4s;
    

}
.menu li a:hover{
    background-color: rgba(137, 43, 226, 0.418);
    color: rgb(255, 255, 255);
}

table{
    width: 400px;
    color: white;
    margin: auto;
    padding-bottom: 120px;
    position: relative;
   
}
thead >tr >th{
    position: sticky;
    top: -1;
    background-color: rgb(144, 43, 226);
}
caption{
    padding-top: 40px;
    padding-bottom: 10px;
    font-weight: bold;
}
td, th{
    border: 2px solid rgba(137, 43, 226, 0.301);
    padding: 10px;

}
thead, tfoot{
    background-color: rgb(144, 43, 226);
}
tbody > tr:nth-child(2n){ /*para colocar um efeito de 1 a sim outra nao usamos essa pseudo classe e colocamo 2n*/
    background-color: rgb(92, 0, 100);
  
}
footer{
    color: white;
    padding-bottom: 5px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    
}

.aparecer{
    display:none; /*para esconder*/
}



.desa:hover > p{
    display: block;
    background-color:rgb(69, 0, 126);
    width: 250px;
    color: rgb(240, 164, 255);
    font-size: 0.9em;
}